body {
  margin: 0;
  padding: 0;
  background: #000;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
}

#components {
  display: none;
}

#reader, #readerBg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#reader div pre {
  white-space: normal;
  font: normal 100% serif;
}

/* from smallest and outermost to largest and innermost */
.dummyPage {
  position: absolute;
  left: 12px;
  top: 20px;
  bottom: 20px;
  right: 6px;
  background-color: #FCF6F0;
  -webkit-box-shadow: 2px 2px 4px #754;
  -moz-box-shadow: 2px 2px 4px #754;
  box-shadow: 2px 2px 4px #754;
  -webkit-border-top-right-radius: 26px 6px;
  -webkit-border-bottom-right-radius: 26px 6px;
  -moz-border-top-right-radius: 26px 6px;
  -moz-border-bottom-right-radius: 26px 6px;
  border-top-right-radius: 26px 6px;
  border-bottom-right-radius: 26px 6px;
}
.dummyPage + .dummyPage {
  top: 16px;
  bottom: 16px;
  left: 14px;
  -webkit-box-shadow: 1px 0 2px #A99;
  -moz-box-shadow: 1px 0 2px #A99;
  box-shadow: 1px 0 2px #A99;
}
.dummyPage + .dummyPage + .dummyPage {
  top: 13px;
  bottom: 13px;
  left: 18px;
  background-color: #FFF9F4;
}
.dummyPage + .dummyPage + .dummyPage + .dummyPage {
  top: 10px;
  bottom: 10px;
  left: 21px;
}
.dummyPage + .dummyPage + .dummyPage + .dummyPage + .dummyPage {
  top: 8px;
  bottom: 8px;
  left: 25px;
}
.jacket {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 3px;
  right: 65%;
  -webkit-box-shadow: -3px 0 3px #311;
  -moz-box-shadow: -3px 0 3px #311;
  box-shadow: -3px 0 3px #311;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #F7F7F7;
  background: -webkit-linear-gradient(0deg, #DDD, #FFF);
  background: -moz-linear-gradient(0deg , #DDD, #FFF);
  background: linear-gradient(90deg, #DDD, #FFF);
}
.board {
  position: absolute;
  top: 1px;
  bottom: 1px;
  width: 90%;
  background-color: #974;
  border: 1px solid #852;
}

.runner {
  color: #542;
  text-transform: uppercase;
  font-size: 82%;
}

/*.pageNumber, .bookTitle, .chapterTitle {
  padding: 3% 2%;
} */

.bookTitle, .chapterTitle {
  position: absolute;
  top: 1%;
  right: 6%;
  cursor: pointer;
  padding-left: 0;
}

.chapterTitle {
  top: auto;
  bottom: 1%;
  left: 20%;
}

.pageNumber {
  position: absolute;
  bottom: 1%;
  left: 8%;
  padding-right: 0;
  display:none !important;
}

#readerBg {
  background-color: #000;
}

#toc ul.root {
  position: absolute;
  top: 50px;
  right: 8%;
  max-height: 75%;
  max-width: 80%;
  background: #E0D3C0;
  -webkit-box-shadow: 1px 2px 2px #652;
  -moz-box-shadow: 1px 2px 2px #652;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow-y: auto;
  color: #432;
  font: 11pt Georgia, serif;
  text-shadow: 1px 1px #EEE6D0;
  border: 1px solid #EED;
  z-index: 9;
}

.tocArrow {
  position: absolute;
  top: 40px;
  right: 16%;
  width: 20px;
  height: 20px;
  -webkit-transform: rotateZ(45deg);
  background: #E0D3C0;
  z-index: 8;
}

#toc li {
  list-style: none;
  line-height: 220%;
  padding-right: 1em;
  padding-left: 2em;
  border-bottom: 2px groove #FFF6E9;
  cursor: pointer;
}

#toc li span {
  display: block;
}

#toc ul li:last-child {
  border-bottom: none;
}

#toc ul {
  margin: 0;
  padding: 0;
}
#toc ul.root {
  border-top: none;
}

/* Overrides to core elements */

div.monelem_container {
  background: none;
  width: auto;
  left:24px !important;
  right:0px !important;
  top:6px !important;
}

div.monelem_page {
  top: 6px;
  bottom: 6px !important;
  left: 4px; 
/*  border-color: #CBA; */
  outline: none !important;
  -webkit-box-shadow: 1px 0 1px #CBA;
  -moz-box-shadow: 1px 0 1px #CBA;
  box-shadow: 1px 0 2px #CBA;
  -webkit-border-top-right-radius: 26px 4px;
  -webkit-border-bottom-right-radius: 26px 4px;
  -moz-border-top-right-radius: 26px 4px;
  -moz-border-bottom-right-radius: 26px 4px;
  border-top-right-radius: 26px 4px;
  border-bottom-right-radius: 26px 4px;
  border-top-right-radius: 26px 4px;
  border-bottom-right-radius: 26px 4px;
  background-color: #FCF6F0;
/*  background-color: #FFFFFE; */
  background-image: -webkit-linear-gradient(0deg, #EDEAE8 0px, #FFFFFE 24px);
  background-image: -moz-linear-gradient(0deg, #EDEAE8 0px, #FFFFFE 24px);
  background-image: linear-gradient(90deg, #EDEAE8 0px, #FFFFFE 24px);
}

div.monelem_sheaf {
  left: 8% !important;
  right: 6% !important;
  top: 8%;
  bottom: 8%;
}


/* Overriding magnifier button display */

div.monelem_controls_magnifier_button {
  color: #632;
  padding: 2px;
  top: 0 !important;
  left: 6% !important;
}


/* Overriding table of contents display */

div.monelem_controls_contents_container {
  background: #E0D3C0;
  border: 1px solid #EED;
  font: 11pt Georgia, serif;
  color: #432;
  text-shadow: 1px 1px #FFF6E0;
}

div.monelem_controls_contents_chapter {
  border-bottom: 2px groove #FFF6E9;
}

li.monelem_controls_contents_chapter_active {
  text-shadow: -1px -1px #876;
  background: #BA9;
}


/* Overriding the scrubber display */
div.monelem_controls_scrubber_container {
  left: 8%;
  right: 5.5% !important;
  bottom: 2% !important;
  background: #FFFEFC;
}

div.monelem_controls_scrubber_track {
  border-color: #432;
}

div.monelem_controls_scrubber_needle {
  border-color: #432;
  background: #E0D3C0;
}

div.monelem_controls_scrubber_trail {
  background: #E0D3C0;
}

div.monelem_page {
  background: white;
  top: 0;
  left: 0;
  bottom: 3px;
  left: 0px !important;
  border-left: 1px solid #999;
}

div.monelem_billboard_container {
  background: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}

div.monelem_billboard_close {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 30px;
  color: white;
  background: #C00;
  cursor: pointer;
  border-bottom-right-radius: 4px;
  text-shadow: 1px 1px 1px #900;
  font: 9pt Helvetica Neue, Helvetica, sans-serif;
}

.monelem_panels_imode_toggleIcon {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
}

/* If you modify this you could significantly change the way panels work. */
div.monelem_controls_panel_expanded {
  right: 0 !important;
  width: 100% !important;
  z-index: 1001 !important;
}

/*===========================================================================
  Flippers
---------------------------------------------------------------------------*/

div.monelem_flippers_slider_wait {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 92px;
  height: 112px;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  display:none;
}

div.monelem_controls_contents_container {
  position: absolute;
  width: 75%;
  height: 75%;
  right: 12.5%;
  top: 12.5%;
  background: #EEE;
  border: 2px solid #F7F7F7;
  border-radius: 9px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
}

li.monelem_controls_contents_chapter {
  list-style: none;
  line-height: 220%;
  padding-right: 1em;
  padding-left: 2em;
  border-bottom: 2px groove #FEFEFE;
  cursor: pointer;
}

div.monelem_controls_scrubber_trail {
  position: absolute;
  background: #DDD;
  top: 11px;
  right: 1px;
  height: 5px;
}

div.monelem_controls_stencil_container {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
}


